<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/users-management.css">
  <title>{{ titulo }}</title>
</head>

<body>
  {{> header }}
  <main class="main-container">
    <h2>Administrar Usuarios</h2>
    <section class="user-management">
      <form>
        <div class="user-form">
          <div class="user-management-imagen"></div>
          <div class="user-management-nombre">
            <input type="text" placeholder="Nombre(s)" />
          </div>
          <div class="user-management-apellido1">
            <input type="text" placeholder="Apellido 1" />
          </div>
          <div class="user-management-apellido2">
            <input type="text" placeholder="Apellido 2" />
          </div>
          <div class="user-management-celular">
            <input type="text" placeholder="Número Celular" />
          </div>
          <div class="user-management-cedula">
            <input type="text" placeholder="Cédula" />
          </div>
          <div class="user-management-submitBtn">
            <button type="submit" class="add-user-button">
              Agregar Usuario
            </button>
          </div>
      </form>
    </section>
    <h2>Listado de Usuarios</h2>
    <div class="users-list">
      <div class="users-list-head">
        <div class="users-list-image-head">
          <h3>Foto</h3>
        </div>
        <div class="users-list-nombre-head">
          <h3>Nombre(s)</h3>
        </div>
        <div class="users-list-apellido1-head">
          <h3>Apellido</h3>
        </div>
        <div class="users-list-apellido2-head">
          <h3>Apellido</h3>
        </div>
        <div class="users-list-celular-head">
          <h3>Celular</h3>
        </div>
        <div class="users-list-cedula-head">
          <h3>Cedula</h3>
        </div>
        <div class="users-list-acciones-head">
          <h3>Acciones</h3>
        </div>
      </div>
      {{#each users}}
      <div class="users-list-rows">
        <div class="users-list-image">
          <h4>foto</h4>
        </div>
        <div class="users-list-nombre">
          {{ this.nombres }}
        </div>
        <div class="users-list-apellido1">
          {{ this.apellido1 }}
        </div>
        <div class="users-list-apellido2">
          {{ this.apellido2 }}
        </div>
        <div class="users-list-celular">
          {{ this.celular }}
        </div>
        <div class="users-list-cedula">
          {{ this.cedula }}
        </div>
        <div class="users-list-acciones">
          <button class="users-list-acciones-deleteUser">X</button>
          <button class="users-list-acciones-updateUser">V</button>
        </div>
      </div>
      {{/each}}
    </div>
  </main>
  {{> footer}}

</body>

</html>