<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ titulo }}</title>
</head>

<body>
  {{> header }}
  <main>
    {{> filters }}
    <section>
      <div class="grid-head">
        <div class="div1">Foto</div>
        <div class="div2">Descripción</div>
        <div class="div3">Cant. Disp.</div>
        <div class="div4">Precio</div>
        <div class="div5">Acciones</div>
      </div>
      {{#each productos}}
      <div class="grid-rows">
        <div class="product-foto"><a href="/products/detalle/{{this._id}}">
            <img src="{{ this.foto }}" alt="{{ this.desccorta }}"></a></div>
        <div class="product-descr">{{ this.desccorta }}</div>
        <div class="disponibles">{{ this.disponibles }}</div>
        <div class="product-precio"><span>$</span> {{ this.precio }}</div>
        <div class="product-acciones">
          <a href="/products/editarProducto/{{this._id}}" class="edit-icon">
            {{> editIcon}}
          </a>
          <a class="delete-icon" type="button" onclick="deleteProduct('{{this._id}}')">
            {{> bin}}
          </a>
        </div>
      </div>
      {{/each}}
    </section>
  </main>
  {{> footer}}
</body>
<script>
  function deleteProduct(productId) {
    if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
      fetch(`/products/borrar/${productId}`, {
        method: 'DELETE',
      })
        .then(response => {
          if (response.ok) {
            window.location.reload();
          } else {
            throw new Error('Error al eliminar el producto');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  }
</script>

</html>