<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/product-detail.css">
  <title>{{ producto.nombre }}</title>
</head>

<body>
  {{> header }}
  <main>
    <div class="product-detail">
      <div class="product-image">
        <img src={{ producto.foto }} alt="{{ producto.desccorta }}">
      </div>
      <div class="product-info">
        <div class="container">
          <h2 class="product-name">{{ producto.nombre }}</h2>
          <p class="product-section"> Seccion: {{ producto.seccion }}</p>
          <p class="product-price"><span>$</span>{{float producto.precio}}</p>
          <p class="product-description">
            <span class="product-available">Disponibles:</span> {{ producto.disponibles }} unids.
          </p>
          <p class="product-description">
            {{ producto.descextendida }}
          </p>
          <h3>Características</h3>
          <ul class="product-features">
            {{#each producto.caracteristicas}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <a class="btn-submit" href="/products/editarProducto/{{producto.id}}">Editar</a>
      </div>

    </div>
  </main>
  {{> footer }}
</body>

</html>